h1 {
  font-family: 'Roboto Slab', serif;
  font-weight:400;
  small {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 300;
  }
}
h2, h3, h4 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 300;
}
.search-box {
  margin-bottom:20px;
  h2 {
    margin:0;
  }
}
header {
  background:black;
  color:white;
  padding: 20px 0;
  margin-bottom:20px;
  p {
    margin:0;
  }
  a, a:link {
    color:#666;
  }
  a:hover {
    color:#ccc;
  }
}
.container-fluid {
  padding: 0 15px;
}
.form-container {
  max-width:600px;
}

@media print {
  a[href]:after {
    content: none !important;
  }
}